# Логи
*.log

# Файли тимчасові
*.tmp
*.swp

# IDE / редактори
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Minikube локальні файли
.kube/
.minikube/
minikube-linux-amd64



# Python / Flask
__pycache__/
*.pyc
env/
venv/
minikube-linux-amd64
